html,body {
  height: 100%;
  margin: 0;
}

#root-window {
  height: 100%;
}

#render-target {
  height: 100%;
}

.reset-btn {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 10px 15px;
  background: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: transform 0.15s ease;
  z-index: 15;
}

.reset-btn:hover {
  transform: scale(1.05);
}

.available-btn {
  position: fixed;
  left: 20px;
  bottom: 70px;
  padding: 2px 2px;
  background: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: transform 0.15s ease;
  z-index: 15;
}
.available-btn:hover {
  transform: scale(1.05);
}

.occupied-btn {
  position: fixed;
  left: 20px;
  bottom: 120px;
  padding:2px 2px;
  background: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: transform 0.15s ease;
  z-index: 15;
}
.occupied-btn:hover {
  transform: scale(1.05);
}

img.img-btn {
  width: 50%;
  height : 50%;
}

.btn-active {
  background-color: black;
}

.search-wrapper {
  position: fixed;
  top: 70px;
  left: 20px;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 14px;
  border: 2px solid gold;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
  z-index: 20;
}

/* Search bar */
.search-bar {
  flex: 1;
  height: 100%;
  padding: 0 14px;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 14px 0 0 14px;
  background: transparent;
  color: #222;
}

.search-bar::placeholder {
  color: #777;
}

/* Search button */
.search-btn {
  width: 46px;
  height: 100%;
  border: none;
  background: gold;
  cursor: pointer;
  border-radius: 0 14px 14px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.search-btn:disabled {
  cursor: default;
}

/* Search icon */
.search-btn svg {
  width: 18px;
  height: 18px;
  stroke: black;
  stroke-width: 2;
  fill: none;
}

.filter-wrapper {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.filter-btn {
  background-color: gold;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.filter-btn.active {
  background-color: darkgoldenrod;
  cursor: default;
}

